.hero {
    background-color: var(--footer-background-color);
    padding: 200px 0;
    
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;


    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/img@1x_sm.jpg);
    
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/img@2x_sm.jpg);
        }


    @media screen and (min-width: 768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero/img@1x_md.jpg);
    };

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/img@2x_md.jpg);
        }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero/img@1x_lg.jpg);
    };
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero/img@2x_lg.jpg);
        }
}

.hero__title {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
     
    @media screen and (min-width: 768px) {
            width: 360px;  
        }
            @media screen and (min-width: 1200px) {
                width: 696px;
                font-size: 44px;
                line-height: 1.4;
            }
}

.hero__button {
    background-color: var(--brand-color);
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    border-color: transparent;
    border-radius: 4px;
    letter-spacing: 0.06em;
    cursor: pointer;
    
    margin-top: 30px;
    width: 200px;
    min-height: 50px;
    padding: 9px 31px;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {background-color: #117dd4;}

          @media screen and (min-width: 1200px) {
              width: 216px;
          }

}

