.team {
    background-color: #F5F4FA;
}

.team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team__list {
    display: flex;
    // gap: 30px;


    flex-wrap: wrap;
    gap: 30px;
}

// Яріка кардсет_____________________

// .card-set {
//     display: flex;
//     flex-wrap: wrap;
//     gap: var(--indent);
// }

// .card-set-item {
//     flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
// }

// Яріка кардсет______________________

.team__card {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;



    flex-basis: calc((100% - 30px * (1 - 1)) / 1);



    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px * (2 - 1)) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px * (4 - 1)) / 4);
    }
}

.team__about {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
}

.team__position {
    color: var(--paragraph-color);
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.team__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.team__links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    transition-property: background-color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {background-color: var(--brand-color);
            border-color: var(--brand-color);}

}

.team__icons {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.team__links:hover .team__icons,
.team__links:focus .team__icons {
    fill: #FFFFFF;
}