.modal-form {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.modal-form__title {
    display: block;
    margin-bottom: 12px;
    width: 448px;
    height: 23px;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.modal-form__group {
    position: relative;
    margin-bottom: 10px;
}

.modal-form__label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;
    margin-bottom: 4px;

}

.modal-form__input {
    box-sizing: border-box;

    padding-left: 40px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
    border: 1px solid #2196F3;
}

.modal-form__icon {
    position: absolute;
    top: 32px;
    left: 15px;
    bottom: 14px;
}

.modal-form__icon:focus {
    fill: #2196F3;
}

.modal-form__input:focus+.modal-form__icon {
    fill: #2196F3;
}


.modal-form__textarea {
    resize: none;
    box-sizing: border-box;
    padding: 12px 16px;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
}

.modal-form__textarea:focus {
    border: 1px solid #2196F3;
}

.modal-form__textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


.modal-form__group-textarea {
    position: relative;
    margin-bottom: 20px;
}


.modal-form__checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    user-select: none;
}

.modal-form__agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.modal-form__terms {
    color: #2196F3;
    text-decoration: underline;
}

.modal-form__register-icon-check {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked+.modal-form__register-icon .modal-form__register-icon-uncheck {
    opacity: 0;
}

.modal-form__checkbox:checked+.modal-form__register-icon .modal-form__register-icon-check {
    opacity: 1;
}

.modal-form__button-block {
    margin-top: 30px;
    margin-left: 124px;
}

.modal-form__btn {
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-form__btn:hover,
.modal-form__btn:focus {
    background-color: #188CE8;
}